%h1
  Edit the questions
= render 'form'
%p
  = link_to 'Question Home |', survey_questions_path(@survey)
  = link_to 'Survey Home', surveys_path
%p{:class => 'position'}
  = link_to " Logout |", logout_path
