%h2
  Edit the form
%h4
  = flash[:error]
= render 'form'
%p
  =link_to "Survey Home", surveys_path
%p{:class => 'position'}
  = link_to " Logout |", logout_path#link_to 'Edit Question', edit_survey_question_path(@survey)
