%h1
  Survey details

%table{:border => '1'}
  %th
    survey name
    %tr
      %td= @survey.name
  %th
    Survey type
    %tr
      %td= @survey.survey_type
  %th
    conducted on date
    %tr
      %td= @survey.conducted_on
  %th
    count no of people
    %tr
      %td= @survey.count_people
%br
=link_to "Home", root_path
=link_to "Edit", edit_survey_path
=link_to "Questions", survey_questions_path(@survey.id)
